.wheel-container {
    position: relative;
    width: 500px; /* عرض و ارتفاع کانواس را تنظیم کنید */
    height: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wheelCanvas {
    border: 5px solid #e1141e;
    border-radius: 50%;
    margin-bottom: 20px;
}
#spinWheel {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #AD0909;
    color: white;
    border: none;
    border-radius: 25px;
}
#spinWheel:hover {
    background-color: #e1141e;
}